@font-face {
    font-family: 'Proxima Nova Rg';
    src: url('fonts/subset-ProximaNova-Regular.eot');
    src: url('fonts/subset-ProximaNova-Regular.eot?#iefix') format('embedded-opentype'),
        url('fonts/subset-ProximaNova-Regular.woff2') format('woff2'),
        url('fonts/subset-ProximaNova-Regular.woff') format('woff'),
        url('fonts/subset-ProximaNova-Regular.ttf') format('truetype'),
        url('fonts/subset-ProximaNova-Regular.svg#ProximaNova-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Proxima Nova Lt';
    src: url('fonts/subset-ProximaNova-Light.eot');
    src: url('fonts/subset-ProximaNova-Light.eot?#iefix') format('embedded-opentype'),
        url('fonts/subset-ProximaNova-Light.woff2') format('woff2'),
        url('fonts/subset-ProximaNova-Light.woff') format('woff'),
        url('fonts/subset-ProximaNova-Light.ttf') format('truetype'),
        url('fonts/subset-ProximaNova-Light.svg#ProximaNova-Light') format('svg');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Proxima Nova B';
    src: url('fonts/subset-ProximaNova-Bold.eot');
    src: url('fonts/subset-ProximaNova-Bold.eot?#iefix') format('embedded-opentype'),
        url('fonts/subset-ProximaNova-Bold.woff2') format('woff2'),
        url('fonts/subset-ProximaNova-Bold.woff') format('woff'),
        url('fonts/subset-ProximaNova-Bold.ttf') format('truetype'),
        url('fonts/subset-ProximaNova-Bold.svg#ProximaNova-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
}
.body {
    overflow: hidden;
}

.mobile {
    display: none;
}
.container {
    max-width: 1530px;
    margin: 0 auto;
}
.head {
    background-color: #0a0e34;
    &__back {
        background-image: url("img/back.png");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        padding-bottom: 110px;
    }
    &__logo {
        background-image: url("img/Logo.png");
        background-repeat: no-repeat;
        padding: 17px 95px;
    }
    &__header {
        display: flex;
        justify-content: space-between;
        padding-top: 54px;
        margin-bottom: 325px;
    }
    &__for {
        color: #ffffff;
        font-family: 'Proxima Nova Lt';
        font-size: 0.875em;
        text-transform: uppercase;
        letter-spacing: 0.7px;
        margin-top: 11px;
    }
    &__part1 {
        color: #ffffff;
        font-family: 'Proxima Nova B';
        font-size: 5.625em;
        letter-spacing: 4.96px;
        text-transform: uppercase;
        line-height: 31px;
        margin-bottom: 45px;
        position: relative;
        text-align: left;
        z-index: 3;
    }
    &__part2 {
        color: #ffffff;
        font-family: 'Proxima Nova B';
        font-size: 5.625em;
        letter-spacing: 4.96px;
        text-transform: uppercase;
        line-height: 31px;
        position: relative;
        text-align: right;
        margin-bottom: 35px;
        z-index: 1;
    }
    &__line {
        margin-left: 378px;
        position: absolute;
        top: 285px;
        z-index: 2;
        width: 254px;
        height: 317px;
    }
    &__container {
        position: relative;
    }
    &__nav {
        text-align: right;
        display: flex;
        justify-content: flex-end;
        margin-bottom: 170px;
    }
    &__link {
        text-decoration: none;
        color: #9071ea;
        margin-left: 51px;
        font-family: 'Proxima Nova Lt';
        font-size: 0.875em;
        line-height: 34px;
        text-transform: uppercase;
        letter-spacing: 0.7px;
    }
    &__buttons {
        display: flex;
        justify-content: center;
    }
    &__but {
        width: 311px;
        box-shadow: 0 16px 24px #0a0e34;
        background-color: #5e42b0;
        border-radius: 50px;
        padding: 19px 65px 21px 43px;
        display: flex;
        justify-content: center;
        text-decoration: none;
        box-sizing: border-box;
        &--margin {
            margin-right: 3.2679%;
        }
    }
    &__desc {
        color: #ffffff;
        font-family: 'Proxima Nova Lt';
        font-size: 0.875em;
        text-transform: uppercase;
        letter-spacing: 0.7px;
        margin-top: 7px;
    }
    &__source {
        color: #ffffff;
        font-size: 1em;
        text-transform: uppercase;
        letter-spacing: 0.7px;
        margin-top: 7px;
        font-family: 'Proxima Nova B';
    }
    &__icon {
        margin-right: 23px;
        background-image: url("img/apple.png");
        background-repeat: no-repeat;
        background-position: center;
        padding: 18px 19px;
        &--google {
            background-image: url("img/google_play.png");
        }
    }
}
.athlets {
    .container {
        position: relative;
    }
    &__container {
        padding-left: 817px;
        box-sizing: border-box;
        display: flex;
        flex-wrap: wrap;
        min-height: 76px;
    }
    padding-top: 113px;
    &__head {
        color: #e7e7e7;
        font-family: 'Proxima Nova B';
        font-size: 5.625em;
        line-height: 60px;
        text-transform: uppercase;
        margin-left: 817px;
        margin-bottom: 31px;
    }
    &__it-num {
        font-family: 'Proxima Nova B';
        font-size: 1.125em;
        text-transform: uppercase;
        letter-spacing: 0.9px;
        margin-bottom: 3px;
    }
    &__it-number {
        position: relative;
        &::after {
            content: "";
            display: block;
            position: absolute;
            bottom: 0;
            width: 100%;
            height: 5px;
            border-radius: 2px;
            background-color: #5e42b0;
        }
        &--2 {
            &::after {
                background-color: #efefef;
            }
        }
    }
    &__it-border {
        width: 21px;
        height: 5px;
        border-radius: 2px;
        background-color: #5e42b0;
    }
    &__it-header {
        margin-left: 13px;
        color: #c1c1c1;
        font-family: 'Proxima Nova B';
        font-size: 2.25em;
        text-transform: uppercase;
        letter-spacing: 1.8px;
        line-height: 26px;
    }
    &__it-desc {
        font-family: 'Proxima Nova Rg';
        font-size: 1.25em;
        letter-spacing: 1px;
        margin-top: 27px;
        opacity: 1;
        align-self: flex-end;
        line-height: 34px;
    }
    &__plus {
        position: absolute;
        background-image: url("img/plus.svg");
        background-repeat: no-repeat;
        background-position: center;
        padding: 8px;
        top: 249px;
        right: 129px;
    }
    &__item {
        padding-bottom: 60px;
        padding-top: 60px;
        &:nth-child(2) {
            background-color:rgba(94,66,176,0.06);
        }
        &:nth-child(3) {
            background-color: #5e42b0;
            padding-top: 90px;
            padding-bottom: 100px;
            .athlets__it-border {
                background-color: #efefef;
            }
            .athlets__it-desc {
                color: #ffffff;
            }
        }
    }
    &__sportsman {
        top: -149px;
        left: 80px;
        position: absolute;
        padding: 553px 363px;
        background-image: url("img/footballer.png");
        background-repeat: no-repeat;
        background-position: center;
        z-index: 2;
        &::after {
            content: "";
            background-image: url("img/plus.svg");
            background-repeat: no-repeat;
            background-position: center;
            padding: 8px;
            position: absolute;
            top: 196px;
            left: 125px;
        }
        &::before {
            content: "";
            background-image: url("img/plus.svg");
            background-repeat: no-repeat;
            background-position: center;
            padding: 8px;
            position: absolute;
            top: 187px;
            left: 100px;
            opacity: 0.3;
        }
    }
    &__line {
        background-image: url("img/line_2.svg");
        background-repeat: no-repeat;
        padding: 334px 291px;
        position: absolute;
        top: -46px;
        left: 110px;
        z-index: 1;
    }
    &--2 {
        position: relative;
        .sportsman {
            background-image: url("img/sportsman2.png");
            padding: 408px 496px;
            left: 612px;
            top: -142px;
            &::after {
                left: 296px;
                top: 127px;
            }
            &::before {
                left: 318px;
                top: 144px;
            }
        }
        .athlets__head {
            margin-left: 136px;
        }
        .athlets__container {
            padding-left: 131px;
            padding-right: 833px;
        }
        .athlets__item--2 {
            background-color: #0a0e34;
            padding-bottom: 85px;
            .athlets__it-num {
                color: #9173e6;
            }
            .athlets__it-desc {
                color: #ffffff;
            }
        }
        .athlets__line {
            padding: 161px 140px;
            left: 794px;
            top: 292px;
            &--1 {
                padding: 160px 138px;
                left: 1267px;
                top: -74px;
            }
        }
    }
}
.card {
    &__item {
        padding-left: 50%;
        position: relative;
        min-height: 730px;
        &::before {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            display: block;
            height: 100%;
            width: 50%;
            background-image: url("img/active.png");
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center;
        }
        &:last-child {
            &::before {
                background-image: url("img/work.png");
            }
        }
        &--right {
            padding-left: 0;
            padding-right: 50%;
            display: flex;
            justify-content: flex-end;
            .card__container {
                margin-right: 0;
                width: 100%;
                box-sizing: border-box;
                padding-right: 123px;
            }
            .card__number {
                left: auto;
                right: -84px;
            }
            &::before {
                left: auto;
                right: 0;
                background-image: url("img/find.png");
            }
            .card__head {
                margin-left: 0;
                margin-bottom: 61px;
            }
            .card__desc {
                margin-left: 0;
            }
        }
    }
    &__container {
        position: relative;
        max-width: 768px;
        margin-left: 0;
    }
    &__number {
        position: absolute;
        left: -84px;
        top: 211px;
        width: 168px;
        height: 155px;
        background-color: #5e42b0;
        display: flex;
        justify-content: center;
        align-items: center;
        &--text {
            color: #f5f6f7;
            font-family: 'Proxima Nova B';
            font-size: 1.5em;
            letter-spacing: 1.2px;
            text-align: center;
            line-height: 34px;
            &::after {
                content: "";
                display: block;
                height: 5px;
                background-color: #8e7bc8;
                border-radius: 2px;
            }
        }
    }
    &__head {
        margin-left: 127px;
        padding-top: 244px;
        margin-bottom: 103px;
        opacity: 0.4;
        color: #c1c1c1;
        font-family: "Proxima Nova B";
        font-size: 5.625em;
        line-height: 90px;
        text-transform: uppercase;
    }
    &__desc {
        margin-left: 128px;
        font-family: 'Proxima Nova Rg';
        font-size: 1.5em;
        line-height: 28px;
        letter-spacing: 1.2px;
        width: 326px;
        min-height: 174px;
        position: relative;
        padding-bottom: 20px;
        &::after {
            content: "";
            position: absolute;
            display: block;
            height: 5px;
            width: 22px;
            background-color: #5e42b0;
            border-radius: 2px;
            bottom: 0;
            left: 0;
        }
        &--2 {
            width: 390px;
        }
        &--3 {
            width: 512px;
        }
    }
}
.foot {
    background-color: #0a0e34;
    &__back {
        padding-top: 229px;
        background-image: url("img/back__foot.png");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
    }
    &__logo {
        background-image: url("img/foot_work.png");
        background-repeat: no-repeat;
        background-position: center;
        padding: 69px 65px;
        margin-right: 34px;
    }
    &__download {
        display: flex;
        justify-content: center;
        margin-bottom: 151px;
        position: relative;
        width: 940px;
        margin: 0 auto 151px auto;
        z-index: 50;
        &--line {
            background-image: url("img/line_2.svg");
            background-repeat: no-repeat;
            background-position: center;
            padding: 79px 69px;
            position: absolute;
            top: -20px;
            left: 190px;
            z-index: 10;
        }
        &--line1 {
            background-image: url("img/line_2.svg");
            background-repeat: no-repeat;
            background-position: center;
            padding: 157px 138px;
            position: absolute;
            top: -92px;
            left: 527px;
            z-index: 10;
        }
    }
    &__header {
        padding-left: 2px;
        color: #ffffff;
        font-family: "Proxima Nova B";
        font-size: 5.625em;
        line-height: 60px;
        text-transform: uppercase;
        letter-spacing: 4.96px;
        margin-bottom: 15px;
        margin-top: 19px;
    }
    &__head {
        z-index: 50;
    }
    &__desc {
        color: #a496ca;
        font-family: "Proxima Nova B";
        font-size: 2.25em;
        text-transform: uppercase;
        line-height: 34px;
    }
    &__buttons {
        display: flex;
        width: 672px;
        margin: 0 auto;
    }
    &__btn {
        margin-bottom: 268px;
    }
    &__but {
        width: 311px;
        box-shadow: 0 16px 24px #0a0e34;
        background-color: #5e42b0;
        border-radius: 50px;
        padding: 19px 65px 21px 43px;
        display: flex;
        justify-content: center;
        text-decoration: none;
        box-sizing: border-box;
        &--margin {
            margin-right: 50px;
        }
    }
    &__desc-but {
        color: #ffffff;
        font-family: 'Proxima Nova Lt';
        font-size: 0.875em;
        text-transform: uppercase;
        letter-spacing: 0.7px;
        margin-top: 7px;
    }
    &__source {
        color: #ffffff;
        font-size: 1em;
        text-transform: uppercase;
        letter-spacing: 0.7px;
        margin-top: 7px;
        font-family: 'Proxima Nova B';
    }
    &__icon {
        margin-right: 23px;
        background-image: url("img/apple.png");
        background-repeat: no-repeat;
        background-position: center;
        padding: 18px 19px;
        &--google {
            background-image: url("img/google_play.png");
        }
    }
    &__container {
        width: 94.2708%;
        margin: 197px auto 0 auto;
        display: flex;
        justify-content: space-between;
        padding-top: 71px;
        padding-bottom: 70px;
    }
    &__foot-logo {
        background-image: url("img/foot_logo.png");
        background-position: center;
        background-repeat: no-repeat;
        padding: 15px 86px;
    }
    &__nav {
        color: #ffffff;
        line-height: 15px;
        font-family: "Proxima Nova Rg";
        font-size: 20px;
        letter-spacing: 1px;
    }
    &__links {
        text-decoration: none;
        color: #ffffff;
        font-family: "Proxima Nova Rg";
        font-size: 20px;
        letter-spacing: 1px;
    }
    &__foot {
        background-color: rgba(10, 14, 52, 0.6);
    }
    &__share {
        padding-left: 137px;
        width: 137px;
        display: flex;
        justify-content: space-between;
        &--link {
            padding: 14px 14px;
            background-image: url("img/twit.png");
            background-position: center;
            background-repeat: no-repeat;
            &1 {
                padding: 14px 8px;
                background-image: url("img/face.png");
            }
            &2 {
                background-image: url("img/insta.png");
                padding: 14px 12px;
            }
        }
    }
}
@media (max-width:1600px) {
    .container {
        max-width: 727px;
    }
    .head {
        &__back {
            padding-bottom: 91px;
        }
        &__header {
            margin-bottom: 187px;
        }
        &__part1 {
            font-size: 4em;
            letter-spacing: 3.52px;
            line-height: 31px;
            z-index: 2;
            margin-left: 69px;
            margin-bottom: 24px;
        }
        &__part2 {
            font-size: 4em;
            letter-spacing: 3.2px;
            text-align: left;
            margin-bottom: 180px;
            z-index: 2;
            padding-left: 177px;
            line-height: 77px;
        }
        &__line {
            margin-left: 239px;
            top: 198px;
            z-index: 1;
        }
        &__nav {
            text-align: center;
            justify-content: space-around;
            margin-bottom: 105px;
        }
        &__link {
            margin: 0;
            font-size: 1em;
            letter-spacing: 0.8px;
            /* 4.1208% */
        }
        &__but {
            box-shadow: 8px 14px 24px #0a0e34;
            border-radius: 50px;
            &--margin {
                margin-right: 4.1208%;
            }
        }
    }
    .contain {
        position: relative;
        overflow: hidden;
        max-width: 1599px;
    }
    .athlets {
        padding-top: 0;
        .container--2 {
            position: static;
        }
        &__container {
            padding-left: 272px;
            min-height: auto;
        }
        &__sportsman {
            padding: 350px 249px;
            background-image: url("img/footballer_m.png");
            top: 94px;
            left: -182px;
            &::after {
                left: 213px;
                top: -12px;
            }
            &::before {
                left: 191px;
                top: -21px;
            }
        }
        &__head {
            margin-left: 272px;
            padding-top: 83px;
            margin-bottom: 0;
        }
        &__line {
            padding: 159px 144px;
            top: 112px;
            left: -31px;
        }
        &__it-desc {
            font-size: 1.125em;
            letter-spacing: 0.9px;
        }
        &--2 {
            .sportsman {
                background-image: url("img/sportsman_m.png");
                padding: 283px 345px;
                top: 37px;
                left: 49.2291%;
                &::after {
                    top: 69px;
                    left: 201px;
                }
                &::before {
                    top: 86px;
                    left: 223px;
                }
            }
            .athlets__head {
                margin-left: 19px;
            }
            .athlets__container {
            padding-left: 11px;
            padding-right: 300px;
            }
            .athlets__line {
                display: none;
                &--1 {
                    display: block;
                    left: 63.4114%;
                    top: 192px;
                }
            }
            .athlets__plus {
                display: none;
            }
        }
    }
    .card {
        &__item {
            padding-left: 0;
            min-height: 0;
            &::before {
                position: static;
                background-image: url("img/active_m.png");
                padding-bottom: 76%;
                height: auto;
                width: 100%;
            }
            &:last-child {
                &::before {
                    background-image: url("img/work_m.png");
                }
            }
            &--right {
                &::before {
                    background-image: url("img/find_m.png");
                }
                padding-right: 0;
                display: block;
                .card__number {
                    left: 33px;
                }
                .card__head {
                    margin-left: 14px;
                    margin-bottom: 12px;
                }
                .card__desc {
                    margin-left: 0;
                    margin-right: 0;
                }
                .card__container {
                    padding-right: 0;
                    max-width: 100%;
                }
            }
        }
        &__container {
            max-width: 100%;
            padding-bottom: 63px;
        }
        &__number {
            width: 116px;
            height: 116px;
            left: 33px;
            top: -80px;
        }
        &__head {
            margin-left: 14px;
            padding-top: 74px;
            margin-bottom: 12px;
        }
        &__desc {
            margin-left: 0;
            padding-left: 15px;
            margin-right: 0;
            min-height: 0;
            width: 100%;
            box-sizing: border-box;
            &::after {
                left: 15px;
            }
        }

    }
    .foot {
        &__download {
            display: block;
            width: 695px;
            margin-bottom: 181px;
            &--line {
                top: 203px;
                left: 3px;
                z-index: -1;
                &1 {
                    top: 125px;
                    left: 290px;
                    z-index: -1;
                }
            }
        }
        &__logo {
            margin: 0 auto;
            margin-bottom: 80px;
        }
        &__head {
            text-align: center;
        }
        &__header {
            font-size: 5em;
            letter-spacing: 4.85px;
            margin-bottom: 2px;
        }
        &__desc {
            line-height: 60px;
        }
        &__but {
            &--margin {
                margin-right: 30px;
            }
        }
        &__container {
            margin-top: 129px;
            justify-content: center;
            padding-top: 35px;
            padding-bottom: 33px;
        }
        &__foot-logo {
            display: none;
        }
        &__nav {
            display: none;
        }
        &__share {
            padding-left: 0;
        }
    }
}/* Конец точки до 1530(планшет) */
@media (max-width:768px) {
    .container {
        max-width: 297px;
    }
    .head {
        background-color: #0a0e34;
        &__back {
            padding-bottom: 20px;
        }
        &__logo {
            padding: 12px 68px;
            margin: 0 auto;
            background-image: url("img/logo_s.png");
        }
        &__header {
            padding-top: 39px;
            margin-bottom: 137px;
        }
        &__for {
            display: none;
        }
        &__part1 {
            font-size: 2em;
            letter-spacing: 1.76px;
            margin-bottom: 16px;
            margin-left: 0;
        }
        &__part2 {
            font-size: 2em;
            letter-spacing: 1.6px;
            margin-bottom: 114px;
            z-index: 2;
            padding-left: 52px;
            line-height: 39px;
        }
        &__line {
            top: 180px;
            left: -169px;
            width: 139px;
            height: 174px;
        }
        &__flexible {
            display: flex;
            flex-direction: column-reverse;
        }
        &__buttons {
            margin-bottom: 39px;
        }
        &__but {
            width: 142px;
            box-shadow: 0 10px 16px #0a0e34;
            border-radius: 20px;
            padding: 11px 17px 10px 20px;
            &--margin {
                margin-right: 2.6315%;
            }
        }
        &__desc {
            font-size: 0.5em;
            letter-spacing: 0.4px;
            margin-top: 0;
        }
        &__source {
            font-size: 1em;
            letter-spacing: 0.4px;
            margin-top: 0;
        }
        &__icon {
            margin-right: 8px;
            background-image: url("img/apple_s.png");
            padding: 9px 8px;
            &--google {
                background-image: url("img/google_s.png");
            }
        }
        &__nav {
            justify-content: space-between;
            flex-wrap: wrap;
            width: 248px;
            margin: 0 auto;
        }
        &__link {
            font-size: 0.75em;
            line-height: 21px;
            letter-spacing: 0.8px;
            &:nth-child(4) {
                margin-left: 41px;
            }
            &:nth-child(5) {
                margin-right: 33px;
            }
        }
    }
    .desktop {
        display: none;
    }
    .athlets {
        padding-top: 0;
        .container {
            position: relative;
            max-width: 90%;
        }
        &__item {
            &--2 {
                .athlets__it-desc {
                    color: #ffffff;
                }
            }
        }
        &__head {
            margin-left: 9px;
            font-size: 3.125em;
            line-height: 60px;
            margin-bottom: 257px;
            padding-top: 0;
            margin-top: 23px;
        }
        .sportsman {
            background-image: url("img/footballer_s.png");
            padding: 141px 96px;
            left: 50%;
            transform: translateX(-50%);
            top: 67px;
            &::after {
                top: 20px;
                left: 4px;
            }
            &::before {
                top: 11px;
                left: -18px;
            }
        }
        &__line {
            padding: 99px 91px;
            top: 80px;
            left: 50%;
            transform: translateX(-50%);
        }
        &__it-num {
            font-size: 0.875em;
            letter-spacing: 0.7px;
        }
        &__it-header {
            font-size: 1.75em;
            letter-spacing: 1.4px;
        }
        &__it-desc {
            font-size: 15px;
            line-height: 18px;
            letter-spacing: 0.75px;
            margin-top: 18px;
        }
        &__it-number {
            &--2 {
                &::after {
                    background-color: #5e42b0;
                }
            }
        }
        &--2 {
            padding-top: 0;
            .sportsman {
                background-image: url("img/sportsman_s.png");
                padding: 124px 151px;
                left: 50%;
                transform: translateX(-50%);
                top: 79px;
                &::after {
                    top: 8px;
                    left: 71px;
                }
                &::before {
                    top: -1px;
                    left: 49px;
                }
            }
            .athlets__line {
                display: block;
                padding: 55px 47px;
                left: 50%;
                transform: translateX(-100%);
                top: 200px;
                &--1 {
                    padding: 46px 39px;
                    left: 50%;
                    transform: translateX(63%);
                    top: 100px;
                }
            }
            .athlets__item--2 {
                background-color: #f5f4fa;
                .athlets__it-desc {
                    color: #000000;
                }
                .athlets__it-num{
                    color: #000000;
                }
            }
        }
    }
    .mobile {
        background-color: rgba(94, 66, 176, 0.06);
        display: block;
        .container {
            padding: 0; 
        }
        .fotorama__nav__frame.fotorama__active .fotorama__dot {
            background-color: #5c3caf;
            width: 10px;
            height: 10px;
        }
        .fotorama__dot {
            width: 10px;
            height: 10px;
            border: none;
            border-radius: 50%;
            background-color: #d8d8d8;
            left: 12px;
        }
        .fotorama__wrap {
            width: 100% !important;
        }
        .fotorama__stage {
            max-height: 245px !important;
        }
    }
    .fotorama__arr {
        display: none !important;
    }
    .card {
        &__item {
            min-height: 0;
            &::before {
                padding-bottom: 109%;
            }
            &--right {
                .card__number {
                    left: 19px;
                    top: -58px;
                }
                .card__desc {
                    width: 81.25%;
                    margin-left: 9px;
                }
                .card__head {
                    margin-left: 9px;
                }
            }
            &:last-child {
                .card__desc {
                    width: 81.5625%;
                }
            }
        }
        &__number {
            width: 70px;
            height: 70px;
            left: 19px;
            top: -58px;
            &--text {
                font-size: 0.875em;
                letter-spacing: 0.7px;
                line-height: 21px;
            }
        }
        &__head {
            font-size: 1.75em;
            line-height: 34px;
            letter-spacing: 1.4px;
            padding-top: 28px;
            margin-left: 9px;
            margin-bottom: 9px;
        }
        &__desc {
            font-size: 1em;
            letter-spacing: 0.8px;
            line-height: 20px;
            margin-left: 9px;
            width: 67.8125%;
            padding-left: 0;
            &::after {
                left: 0;
            }
        }
        &__container {
            padding-bottom: 51px;
            max-width: 100%;
        }
    }
    .foot {
        &__back {
            padding-top: 97px;
        }
        &__logo {
            background-image: url("img/foot_logo_s.png");
            padding: 39px 37px;
            margin-bottom: 57px;
        }
        &__header {
            font-size: 2.125em;
            line-height: 24px;
            margin-bottom: 13px;
            letter-spacing: 1.7px;
        }
        &__desc {
            font-size: 0.9375em;
            line-height: 11px;
            letter-spacing: 0.75px;
        }
        &__download {
            width: 296px;
            margin-bottom: 72px;
            &--line {
                top: 124px;
                left: 2px;
                padding: 34px 29px;
                &1 {
                    top: 100px;
                    padding: 60px 48px;
                    left: 130px;
                }
            }
        }
        &__buttons {
            width: 296px;
        }
        &__but {
            width: 142px;
            height: 39px;
            box-shadow: 0 10px 16px #0a0e34;
            padding: 11px 15px 10px 20px;
            &--margin {
                margin-right: 8px;
            }
        }
        &__desc-but {
            font-size: 0.5em;
            letter-spacing: 0.4px;
            margin-top: 0;
        }
        &__icon {
            background-image: url("img/apple_s.png");
            padding: 9px 8px;
            margin-right: 10px;
            &--google {
                background-image: url("img/google_s.png");
            }
        }
        &__container {
            margin-top: 127px;
            padding-top: 19px;
            padding-bottom: 13px;
        }
        &__share {
            width: 124px;
            &--link {
                background-image: url("img/twit_s.png");
                padding: 8px 9px;
                &1 {
                    background-image: url("img/face_s.png");
                    padding: 9px 5px;
                }
                &2 {
                    background-image: url("img/insta_s.png");
                    padding: 9px 
                }
            }
        }
    }
} /* Конец мобильной точки */
@media (max-width:300px) {
    /* Для экранов меньше 300px */
    body {
        min-width: 300px;
    }
}